@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html {overflow: hidden; min-width: 1920px;}
body, html {scroll-behavior: smooth; font-family: 'TTWanjudaedunsancheB';



}
body {
    
}



/* header */
header {
    
    position:fixed; left:0; top:0;
    width:100%; z-index: 200;
    padding: 33px 30px 0 30px;
}
header nav {
    border-top: 1px solid#000;
    border-bottom: 5px solid#000;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .gnb {}
header nav .gnb a {
    margin-right: 50px;
    font-size: 1.25rem;
    transition: all 0.5s;
}
header.active {
    background-color: #000;
    color:#fff;
    padding: 10px 30px 0 30px;
    
}
header nav .gnb a.active {
    color:#fff;
    font-size: 1.25rem;
}
header nav .gnb a:last-child {margin-right: 0;}
header nav .gnb a:hover {
    color:#FD790D;
    transition: all 0.5s;
}

header nav .sns_address {
    align-items: center;
    padding-top: 5px;
}
header nav .sns_address span {font-size: 1.25rem; margin-right: 5px;}

/* home */
main {

}
main > * {padding:0 30px;}
main #home {
    height:100vh;
    background: url(../images/bl2.jpg) no-repeat center;
    background-size: cover;
}
main #home h1 {
    padding: 200px 0 0 150px;

}
main #home h1 img {}
main #home .mouse {
    position: absolute; left: 50%; bottom:50px;
}
main #home .mouse img{
    animation:mouse_move 1s linear alternate infinite;
}
main #home .domain a {
    position: absolute; left: 1%; bottom:30px;
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #home .domain a:hover {
    color:#FD790D;
    transition: all 0.5s;
}
@keyframes mouse_move {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}

/* profile */
main #profile {
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 10px 0 10px 0;
    height: 100vh;
    position: relative;
}

main #profile h1 {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}
main #profile h1 img {width: 100%;}
main #profile .profile_container {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    padding-top: 20px;
}
    

main #profile .profile_container .profile_left {
    width: 50%; text-align: center;
}
main #profile .profile_container .profile_left img {
    width: 200px; height: 200px;
    background-size: cover;
    border-radius: 50%;
}
main #profile .profile_container .profile_left p {
    
    font-size: 1rem; padding-top: 10px;
    line-height: 20px; font-weight: 600;
}

main #profile .profile_container .profile_left .education {
    text-align: left; padding-left: 200px;
    margin-top: 10px; width: 100%;
    
}
main #profile .profile_container .profile_left .education span {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}
main #profile .profile_container .profile_left .education dl {
    margin-top: 10px;
    display: flex; flex-flow: row wrap;
    align-items: center;
}
main #profile .profile_container .profile_left .education dl > * {
    border-bottom: 1px dashed#ccc;
}
main #profile .profile_container .profile_left .education dl dt {
    width:300px; font-size: 1rem;
    line-height: 35px; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
}
main #profile .profile_container .profile_left .education dl dd {
    width: calc(100% - 370px);
    font-size: 1rem;
    line-height: 35px; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
}
main #profile .profile_container .profile_right {
    width: 50%; padding-left: 50px;
}
main #profile .profile_container .profile_right img {
    height: 70vh;
}

main #profile .domain {
    margin: 10px 0 0 50px;

}
main #profile .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #profile .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}

/* side menu */
/* main #proflie .snb {display: none;}
main #proflie .snb ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color:#fff;
    border: 1px solid#000;
    border-radius: 10px;
    position: absolute;
    right:0; bottom:10%;
    z-index: 200;
    position: fixed;
    transition: all 1s;
}
main #proflie .snb ul li {
    padding:10px 10px;
}
main #proflie .snb ul li .up_btn {}
main #proflie .snb ul li .up_btn img {}
main #proflie .snb ul li .down_btn {}
main #proflie .snb ul li .down_btn img {}
 */

/* skills */
main #skills {
    height:100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding-top: 20px; padding-bottom: 20px;
    
}
main #skills h1 {font-size: 1.75rem; font-weight: 700;
    border-bottom: 5px solid#000; padding-bottom: 10px;
    margin: 70px 0 10px 0;
}
main #skills .container {
    
    display: flex; flex-flow: column wrap; /* 스킬 9개 수직 줄바꿈으로 배치하는 플렉스 */
    height: 45vh;
    align-content: space-between; 
    margin-bottom: 30px;
}
main #skills .container li {
    
    width: 48%; 
    /* 아이콘, 글자 옆으로 배치하는 flex */
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: 1px dashed#777;

    
    
}
main #skills .container li .icon {width: 50px;}
main #skills .container li .icon img {width: 100%;}
main #skills .container li .contents {
    width: calc(100% - 50px);
    font-size: 1rem; line-height: 30px;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 20px; font-weight: 600;
}
main #skills .skill2 {
    font-size: 1.75rem; font-weight: 700;
    border-bottom: 5px solid#000; padding-bottom: 5px;
    margin: 5px 0 5px 0;
}
main #skills .container2 {
    
    display: flex; flex-flow: column wrap; /* 스킬 9개 수직 줄바꿈으로 배치하는 플렉스 */
    height: 23vh;
    align-content: space-between; 
    
}
main #skills .container2 li {
    
    width: 48%; 
    /* 아이콘, 글자 옆으로 배치하는 flex */
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: 1px dashed#777;

    
    
}
main #skills .container2 li .icon {width: 50px;}
main #skills .container2 li .icon img {width: 100%;}
main #skills .container2 li .contents {
    width: calc(100% - 50px);
    font-size: 1rem; line-height: 25px;
    letter-spacing: -0.02em; font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 20px;
}

main #skills .domain {
    
}
main #skills .domain a {
    
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;

}
main #skills .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}




/* project_web1 */
main #project_web1 {
    height: 100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 70px 0 20px 0;
    
}
main #project_web1 div {
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main #project_web1 div .web1_text {
    width: 60%;
    display: flex; flex-flow: column wrap;
    align-items: center;
    margin-left: 50px;
}
main #project_web1 div .web1_text h1 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
    padding-bottom: 40px; padding-top: 100px;
}
main #project_web1 div .web1_text .link {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px; margin-bottom: 40px;
}
main #project_web1 div .web1_text .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
main #project_web1 div .web1_text .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
main #project_web1 div .web1_text .link a:nth-of-type(2) {
    background-color: #410dfd;
    
}
main #project_web1 div .web1_text .link a:nth-of-type(3) {
    background-color: #FD790D;
    
}
main #project_web1 div .web1_text .link a:nth-of-type(4) {
    background-color: #aaa;
    
}
main #project_web1 div .web1_text .project_info {
    margin: 0 auto; 
    
    text-align: center;
}
main #project_web1 div .web1_text .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 0px;
}
main #project_web1 div .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
    
}
main #project_web1 div .preview img {
    width: 100%;
    border-radius: 30px;
}

main #project_web1 .domain {
    margin: 150px 0 0 50px;
}
main #project_web1 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #project_web1 .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}

/* project_web2 */
main #project_web2 {
    height: 100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 70px 0 20px 0;
}
main #project_web2 div {
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main #project_web2 div .web2_text {
    width: 65%;
    display: flex; flex-flow: column wrap;
    align-items: center;
    margin-left: 50px;
}
main #project_web2 div .web2_text h1 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
    padding-bottom: 40px; padding-top: 100px;
}
main #project_web2 div .web2_text .link {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px; margin-bottom: 40px;
}
main #project_web2 div .web2_text .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
main #project_web2 div .web2_text .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
main #project_web2 div .web2_text .link a:nth-of-type(2) {
    background-color: #410dfd;
    
}
main #project_web2 div .web2_text .link a:nth-of-type(3) {
    background-color: #FD790D;
    
}
main #project_web2 div .web2_text .link a:nth-of-type(4) {
    background-color: #aaa;
    
}
main #project_web2 div .web2_text .project_info {
    margin: 0 auto; 
    
    text-align: center;
}
main #project_web2 div .web2_text .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 0px;
}
main #project_web2 div .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
}
main #project_web2 div .preview img {
    width: 100%;
    border-radius: 30px;
}

main #project_web2 .domain {
    margin: 150px 0 0 50px;
}
main #project_web2 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #project_web2 .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}
/* project_landing1 */
main #project_landing1 {
    height: 100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 70px 0 20px 0;
}
main #project_landing1 div {
    width: calc(100% - 200px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main #project_landing1 div .landing1_text {
    width: 65%;
    display: flex; flex-flow: column wrap;
    align-items: flex-start;
    margin-left: 0px;
}
main #project_landing1 div .landing1_text h1 {
    font-size: 2.5rem; text-align: left;
    letter-spacing: -0.02em; font-weight: 700;
    padding: 150px 0 40px 0;
    margin-left: 120px;
}
main #project_landing1 div .landing1_text .link {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 20px; margin-bottom: 40px;
}
main #project_landing1 div .landing1_text .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
main #project_landing1 div .landing1_text .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
main #project_landing1 div .landing1_text .link a:first-child {
    background-color: #FD790D;
}
main #project_landing1 div .landing1_text .project_info {
    margin: 0 auto; 
    
    text-align: center;
}
main #project_landing1 div .landing1_text .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
}
main #project_landing1 div .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
}
main #project_landing1 div .preview img {
    width: 100%;
    border-radius: 30px;
}
main #project_landing1 .domain {
    margin: 200px 0 0 50px;
}
main #project_landing1 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #project_landing1 .domain a:hover {
    color: #000;
    transition: all 0.5s;
}

/* project_landing2 */
main #project_landing2 {
    height: 100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 70px 0 20px 0;
}
main #project_landing2 div {
    width: calc(100% - 200px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main #project_landing2 div .landing1_text2 {
    width: 65%;
    display: flex; flex-flow: column wrap;
    align-items: flex-start;
    margin-left: 0px;
}
main #project_landing2 div .landing1_text2 h1 {
    font-size: 2.5rem; text-align: left;
    letter-spacing: -0.02em; font-weight: 700;
    padding: 150px 0 40px 0;
    margin-left: 120px;
}
main #project_landing2 div .landing1_text2 .link {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 20px; margin-bottom: 40px;
}
main #project_landing2 div .landing1_text2 .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
main #project_landing2 div .landing1_text2 .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
main #project_landing2 div .landing1_text2 .link a:first-child {
    background-color: #FD790D;
}
main #project_landing2 div .landing1_text2 .project_info {
    margin: 0 auto; 
    
    text-align: center;
}
main #project_landing2 div .landing1_text2 .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
}
main #project_landing2 div .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
}
main #project_landing2 div .preview img {
    width: 100%;
    border-radius: 30px;
}
main #project_landing2 .domain {
    margin: 200px 0 0 50px;
}
main #project_landing2 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #project_landing2 .domain a:hover {
    color: #000;
    transition: all 0.5s;
}
/* project_design_detail */
main #project_design_detail {
    
    height:100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 70px 0 30px 0;
    position: relative;
    overflow-y: auto;
}
main #project_design_detail h1 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
}
main #project_design_detail h2 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
    margin-top: 20px;
}
main #project_design_detail .detail_contents {
    display: flex; flex-flow: row nowrap;
    width: calc(100% - 450px);
    
    margin: 0 auto;
    padding-top: 20px;
    z-index: 100;
}
main #project_design_detail .detail_contents li {
    margin: 0 auto;
    margin-right: 35px;
    overflow: hidden;
}

main #project_design_detail .detail_contents li:last-child {
    margin-right: 0;
}
main #project_design_detail .detail_contents li .detail1 {
    width: 20%;
    
}
main #project_design_detail .detail_contents li .detail2 {width: 20%;}
main #project_design_detail .detail_contents li .detail3 {width: 20%;}
main #project_design_detail .detail_contents li .detail4 {width: 20%;}
main #project_design_detail .detail_contents li .detail1:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_detail .detail_contents li .detail1 img {
    height: 100%; width: 100%;
    border-radius: 20px;
    transition: all 0.5s;
}
main #project_design_detail .detail_contents li .detail2:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_detail .detail_contents li .detail2 img {
    height: 100%; width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_detail .detail_contents li .detail3:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_detail .detail_contents li .detail3 img {
    height: 100%; width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_detail .detail_contents li .detail4:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_detail .detail_contents li .detail4 img {
    height: 100%; width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}

main #project_design_detail .popup_contents {}
main #project_design_detail .popup_contents li {
    
    width: 100%; text-align: center;
    margin: 0 auto;
    
    
}
main #project_design_detail .popup_contents li .contents1 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height:100vh;
    display: none;
}
main #project_design_detail .popup_contents li .contents1 .popup1 {
    width: 23%;
    
    
}
main #project_design_detail .popup_contents li .contents1 .close1 {
    width: 35px;
    cursor: pointer;
    
}
main #project_design_detail .popup_contents li .contents2 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height:100vh;
    display: none;
}
main #project_design_detail .popup_contents li .contents2 .popup2 {
    width: 23%;
    
}
main #project_design_detail .popup_contents li .contents2 .close2 {
    width: 35px;
    cursor: pointer;
    
}
main #project_design_detail .popup_contents li .contents3 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height:100vh;
    display: none;
}
main #project_design_detail .popup_contents li .contents3 .popup3 {
    width: 23%;
    
}
main #project_design_detail .popup_contents li .contents3 .close3 {
    width: 35px;
    cursor: pointer;
    
}
main #project_design_detail .popup_contents li .contents4 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height:100vh;
    display: none;
}
main #project_design_detail .popup_contents li .contents4 .popup4 {
    width: 23%;
    
}
main #project_design_detail .popup_contents li .contents4 .close4 {
    width: 35px;
    cursor: pointer;
    
}

main #project_design_detail .domain {
    margin: 50px 0 0 50px;
    
}
main #project_design_detail .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #project_design_detail .domain a:hover {
    color: #000;
    transition: all 0.5s;
}

/* project_design_sns */
main #project_design_sns {
    height:100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 70px 0 50px 0;
    position: relative;
    
}
main #project_design_sns h1 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
}
main #project_design_sns h2 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
    margin-top: 10px;
}
main #project_design_sns .sns_contents {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    margin: 0 auto;
    padding-top: 20px;
    z-index: 100;
}
main #project_design_sns .sns_contents li {
    margin-right: 35px;
    overflow: hidden;
    width: 23%;
    height:35vh;
    margin-bottom: 20px;
}
main #project_design_sns .sns_contents li:nth-of-type(4),main #project_design_sns .sns_contents li:nth-of-type(8) {
    margin-right: 0;
}
main #project_design_sns .sns_contents li .sns1:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    
}

main #project_design_sns .sns_contents li .sns1 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    
}
main #project_design_sns .sns_contents li .sns2:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns2 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_contents li .sns3:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns3 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_contents li .sns4:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns4 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_contents li .sns5:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns5 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_contents li .sns6:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns6 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_contents li .sns7:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns7 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_contents li .sns8:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
}
main #project_design_sns .sns_contents li .sns8 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
}
main #project_design_sns .sns_popup {}
main #project_design_sns .sns_popup li {
    width: 100%; text-align: center;
    margin: 0 auto;
}
main #project_design_sns .sns_popup li .sns_popup1 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup1{}

main #project_design_sns .sns_popup li .sns_popup1 .sns_close1 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup2 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup2 img {}
main #project_design_sns .sns_popup li .sns_popup2 .sns_close2 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup3 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup3 img {}
main #project_design_sns .sns_popup li .sns_popup3 .sns_close3 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup4 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup4 img {}
main #project_design_sns .sns_popup li .sns_popup4 .sns_close4 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup5 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup5 img {}
main #project_design_sns .sns_popup li .sns_popup5 .sns_close5 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup6 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup6 img {}
main #project_design_sns .sns_popup li .sns_popup6 .sns_close6 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup7 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup7 img {}
main #project_design_sns .sns_popup li .sns_popup7 .sns_close7 {
    width: 35px;
    cursor: pointer;
}
main #project_design_sns .sns_popup li .sns_popup8 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: #f1f1f1;
    width: 100%; height: 100vh;
    display: none;
}
main #project_design_sns .sns_popup li .sns_popup8 img {}
main #project_design_sns .sns_popup li .sns_popup8 .sns_close8 {
    width: 35px;
    cursor: pointer;
}

main #project_design_sns .domain {
    margin: 10px 0 0 10px;
}
main #project_design_sns .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #project_design_sns .domain a:hover {
    color: #000;
    transition: all 0.5s;
}

/* ending */
main #ending {
    height:100vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 100px 0 50px 0;
}
main #ending > p {
    text-align: right;
    font-size: 2.18rem;
    margin-right: 40px;
    color: #fff;
}
main #ending h1 {
    margin: 100px 0 0 100px;
    font-size: 6.25rem;
}
main #ending em {
    text-align: right;
    margin-right: 500px; margin-top: 30px;
    font-size: 6.25rem;
    display: block;
}
main #ending > span {
    display: block;
    text-align: center;
    font-size: 3.12rem;
    margin-top: 100px; margin-bottom: 250px;
}
main #ending .bottom {
    width: calc(100% - 100px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    
}
main #ending .bottom .domain {}
main #ending .bottom .domain a {
    font-size: 2.18rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
main #ending .bottom .domain a:hover {
    color: #000;
    transition: all 0.5s;
}
main #ending .bottom span {
    font-size: 2.18rem;
}