/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 20px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #aaa;}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html {overflow: hidden; min-width: 1920px;}
body, html {scroll-behavior: smooth; font-family: 'TTWanjudaedunsancheB';



}
body {min-width: 1920px;}



/* header */
header {min-width: 1920px;
    
    position:fixed; left:0; top:0;
    width:100%; z-index: 200;
    padding: 33px 30px 0 30px;
    
}
header nav {
    /* border-top: 1px solid#fff;
    border-bottom: 5px solid#fff; */
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .gnb {}
header nav .gnb a {
    margin-right: 50px;
    font-size: 1.25rem;
    transition: all 0.5s;
    color:#fff;
}
header.active {
    background-color: #000;
    color:#fff;
    padding: 10px 30px 0 30px;
    
}
header nav .gnb a.active {
    color:#fff;
    font-size: 1.25rem;
}
header nav .gnb a:last-child {margin-right: 0;}
header nav .gnb a:hover {
    color:#FD790D;
    transition: all 0.5s;
}

header nav .sns_address {
    align-items: center;
    padding-top: 5px;
}
header nav .sns_address span {font-size: 1.25rem; margin-right: 5px;color:#fff;}

/* home */
#wrap {

}
#wrap > * {padding:0 30px;}
#wrap .home {
    height:70vh;
    background: url(../images/main1.jpg) no-repeat center;
    background-size: cover;
}
#wrap .home h1 {
    padding: 20px 0 0 50px;

}
#wrap .home h1 img {}
#wrap .home .mouse {
    position: absolute; left: 50%; bottom:50px;
}
#wrap .home .mouse img{
    animation:mouse_move 1s linear alternate infinite;
}
#wrap .home .domain a {
    position: absolute; left: 1%; bottom:30px;
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .home .domain a:hover {
    color:#FD790D;
    transition: all 0.5s;
}
@keyframes mouse_move {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}

/* profile */
#wrap .prof {
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 20px 0 0px 0;
    height: 90vh;
    position: relative;
}

#wrap .prof h1 {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
}
#wrap .prof h1 img {width: 100%;}
#wrap .prof .profile_container {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    padding-top: 20px;
}
    

#wrap .prof .profile_container .profile_left {
    width: 50%; text-align: center;
}
#wrap .prof .profile_container .profile_left .left_top {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#wrap .prof .profile_container .profile_left .left_top .photo {}
#wrap .prof .profile_container .profile_left .left_top .photo img {
    width: 200px; height: 200px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 100px;
}
#wrap .prof .profile_container .profile_left .left_top .photo p {
    font-size: 1rem; padding-top: 10px;
    line-height: 20px; font-weight: 600;
    text-align: left;
    margin-left: 30px;
}
#wrap .prof .profile_container .profile_left .left_top .keypoint {
    cursor: pointer;
    
}
#wrap .prof .profile_container .profile_left .left_top .keypoint:hover .small {
    transform: scale(0.98);
    transition: all 0.5s;
}
#wrap .prof .profile_container .profile_left .left_top .keypoint .small {
    width: 100px; height:100px;
    transition: all 0.5s;
    animation:key_move 1s linear alternate infinite;
}
#wrap .prof .profile_container .profile_left .left_top .keypoint p {
    transition: all 0.5s;
}
#wrap .prof .profile_container .profile_left .left_top .keypoint:hover p {
    color:#FD790D;
    transition: all 0.5s;
}
#wrap .prof .profile_container .profile_left .left_top .keypoint .pop_keypoint {
    position: absolute; 
    left:4.5%; top:6.5%;
    width: 90%; height:90%;
    z-index: 300;
    display: none;
}
#wrap .prof .profile_container .profile_left .education {
    text-align: left; padding-left: 200px;
    margin-top: 10px; width: 100%;
    
}
#wrap .prof .profile_container .profile_left .education span {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap .prof .profile_container .profile_left .education dl {
    margin-top: 10px;
    display: flex; flex-flow: row wrap;
    align-items: center;
}
#wrap .prof .profile_container .profile_left .education dl > * {
    border-bottom: 1px dashed#ccc;
}
#wrap .prof .profile_container .profile_left .education dl dt {
    width:300px; font-size: 1rem;
    line-height: 35px; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap .prof .profile_container .profile_left .education dl dd {
    width: calc(100% - 370px);
    font-size: 1rem;
    line-height: 35px; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap .prof .profile_container .profile_right {
    width: 50%; padding-left: 50px;
}
#wrap .prof .profile_container .profile_right img {
    height: 70vh;
}

#wrap .prof .domain {
    margin: 10px 0 0 50px;

}
#wrap .prof .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .prof .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}


@keyframes key_move {
    0% {transform: translateY(0);}
    100% {transform: translateY(-15px);}
}

/* side menu */
/* main #proflie .snb {display: none;}
main #proflie .snb ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color:#fff;
    border: 1px solid#000;
    border-radius: 10px;
    position: absolute;
    right:0; bottom:10%;
    z-index: 200;
    position: fixed;
    transition: all 1s;
}
main #proflie .snb ul li {
    padding:10px 10px;
}
main #proflie .snb ul li .up_btn {}
main #proflie .snb ul li .up_btn img {}
main #proflie .snb ul li .down_btn {}
main #proflie .snb ul li .down_btn img {}
 */

/* skills */
#wrap .skills {
    height:90vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding-top: 0px; padding-bottom: 20px;
    
}
#wrap .skills h1 {font-size: 1.75rem; font-weight: 700;
    border-bottom: 5px solid#000; padding-bottom: 10px;
    margin: 50px 0 10px 0;
}
#wrap .skills .container {
    
    display: flex; flex-flow: column wrap; /* 스킬 9개 수직 줄바꿈으로 배치하는 플렉스 */
    height: 45vh;
    align-content: space-between; 
    margin-bottom: 30px;
}
#wrap .skills .container li {
    
    width: 48%; 
    /* 아이콘, 글자 옆으로 배치하는 flex */
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: 1px dashed#777;

    
    
}
#wrap .skills .container li .icon {width: 50px;}
#wrap .skills .container li .icon img {width: 100%;}
#wrap .skills .container li .contents {
    width: calc(100% - 50px);
    font-size: 1rem; line-height: 30px;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 20px; font-weight: 600;
}
#wrap .skills .skill2 {
    font-size: 1.75rem; font-weight: 700;
    border-bottom: 5px solid#000; padding-bottom: 5px;
    margin: 5px 0 5px 0;
}
#wrap .skills .container2 {
    
    display: flex; flex-flow: column wrap; /* 스킬 9개 수직 줄바꿈으로 배치하는 플렉스 */
    height: 23vh;
    align-content: space-between; 
    
}
#wrap .skills .container2 li {
    
    width: 48%; 
    /* 아이콘, 글자 옆으로 배치하는 flex */
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: 1px dashed#777;

    
    
}
#wrap .skills .container2 li .icon {width: 50px;}
#wrap .skills .container2 li .icon img {width: 100%;}
#wrap .skills .container2 li .contents {
    width: calc(100% - 50px);
    font-size: 1rem; line-height: 25px;
    letter-spacing: -0.02em; font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 20px;
}

#wrap .skills .domain {
    
}
#wrap .skills .domain a {
    
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;

}
#wrap .skills .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}




/* project_web1 */
#wrap .project_web1 {
    height: 90vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 20px 0 20px 0;
    position: relative;
}
#wrap .project_web1 .contents {
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 150px;
}
#wrap .project_web1 .contents .web1_text {
    width: 60%;
    display: flex; flex-flow: column wrap;
    
    margin-left: 50px;
}
#wrap .project_web1 .contents .web1_text h1 {
    font-size: 2.5rem;
    letter-spacing: -0.02em; font-weight: 700;
    padding-bottom: 10px; padding-top: 150px;
    margin-bottom: 10px; margin-left: 10px;
}
#wrap .project_web1 .contents .web1_text .link {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 10px; margin-bottom: 10px;
}
#wrap .project_web1 .contents .web1_text .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
#wrap .project_web1 .contents .web1_text .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
#wrap .project_web1 .contents .web1_text .link a:nth-of-type(2) {
    background-color: #410dfd;
    
}
#wrap .project_web1 .contents .web1_text .link a:nth-of-type(3) {
    background-color: #FD790D;
    
}
#wrap .project_web1 .contents .web1_text .link a:nth-of-type(4) {
    background-color: #555;
    
}
#wrap .project_web1 .contents .web1_text .project_info {

}
#wrap .project_web1 .contents .web1_text .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
}
#wrap .project_web1 .contents .web1_text .using_img {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 10px;
}
#wrap .project_web1 .contents .web1_text .using_img img {
    margin-right: 20px;
}
#wrap .project_web1 .contents .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
    
}
#wrap .project_web1 .contents .preview img {
    width: 100%;
    border-radius: 30px;
}

#wrap .project_web1 .domain {
    margin: 200px 0 0 50px;
    position: absolute;
    left: 0; bottom:10%;
}
#wrap .project_web1 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .project_web1 .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}

/* project_web2 */
#wrap .project_web2 {
    height: 90vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 20px 0 20px 0;
    position: relative;
}
#wrap .project_web2 .contents {
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 150px;
}
#wrap .project_web2 .contents .web2_text {
    width: 60%;
    display: flex; flex-flow: column wrap;
    
    margin-left: 50px;
}
#wrap .project_web2 .contents .web2_text h1 {
    font-size: 2.5rem;
    letter-spacing: -0.02em; font-weight: 700;
    padding-bottom: 10px; padding-top: 150px;
    margin-bottom: 10px; margin-left: 10px;
}
#wrap .project_web2 .contents .web2_text .link {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 10px; margin-bottom: 10px;
}
#wrap .project_web2 .contents .web2_text .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
#wrap .project_web2 .contents .web2_text .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
#wrap .project_web2 .contents .web2_text .link a:nth-of-type(2) {
    background-color: #410dfd;
    
}
#wrap .project_web2 .contents .web2_text .link a:nth-of-type(3) {
    background-color: #FD790D;
    
}
#wrap .project_web2 .contents .web2_text .link a:nth-of-type(4) {
    background-color: #555;
    
}
#wrap .project_web2 .contents .web2_text .project_info {
    
}
#wrap .project_web2 .contents .web2_text .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
}
#wrap .project_web2 .contents .web2_text .using_img {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 10px;
}
#wrap .project_web2 .contents .web2_text .using_img img {
    margin-right: 20px;
}
#wrap .project_web2 .contents .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
    
}
#wrap .project_web2 .contents .preview img {
    width: 90%;
    border-radius: 30px;
}

#wrap .project_web2 .domain {
    margin: 200px 0 0 50px;
    position: absolute;
    left: 0; bottom:10%;
}
#wrap .project_web2 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .project_web2 .domain a:hover {
    color: #FD790D;
    transition: all 0.5s;
}


/* project_landing1 */
#wrap .project_landing1 {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 20px 0 20px 0;
    position: relative;
}
#wrap .project_landing1 .landing1_wrap {
    
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 150px;
    margin-left: 30px;
}
#wrap .project_landing1 .landing1_wrap .landing1_text {
    width: 65%;
    display: flex; flex-flow: column wrap;
    align-items: flex-start;
    margin-left: 0px;
    padding-bottom: 50px;
}
#wrap .project_landing1 .landing1_wrap .landing1_text h1 {
    font-size: 2.5rem; text-align: left;
    letter-spacing: -0.02em; font-weight: 700;
    padding: 150px 0 10px 0;
    margin-left: 40px;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .link {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 20px; margin-bottom: 20px;
    margin-left: 30px;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .link a:first-child {
    background-color: #FD790D;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .project_info {
    /* margin: 0 auto;  */
    
    text-align: left;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 40px;
    margin-bottom: 20px;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .using_img {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 40px;
}
#wrap .project_landing1 .landing1_wrap .landing1_text .using_img img {
    margin-right: 20px;
}
#wrap .project_landing1 .landing1_wrap .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
}
#wrap .project_landing1 .landing1_wrap .preview img {
    width: 100%;
    border-radius: 30px;
}
#wrap .project_landing1 .domain {
    
    position: absolute;
    left: 2%; bottom:15%;
}
#wrap .project_landing1 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .project_landing1 .domain a:hover {
    color: #000;
    transition: all 0.5s;
}

/* project_landing2 */
#wrap .project_landing2 {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 20px 0 20px 0;
    position: relative;
}
#wrap .project_landing2 .landing2_wrap {
    
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 150px;
    margin-left: 30px;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 {
    width: 65%;
    display: flex; flex-flow: column wrap;
    align-items: flex-start;
    margin-left: 0px;
    padding-bottom: 100px;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 h1 {
    font-size: 2.5rem; text-align: left;
    letter-spacing: -0.02em; font-weight: 700;
    padding: 150px 0 10px 0;
    margin-left: 40px;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .link {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 20px; margin-bottom: 20px;
    margin-left: 30px;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .link a {
    padding: 20px 30px;
    background: #222; color:#fff;
    border-radius: 10px; margin-left: 10px;
    text-align: center; font-size: 1.0rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 0.5s;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .link a:hover {
    transform: scale(0.95);
    transition: all 0.5s;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .link a:first-child {
    background-color: #FD790D;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .project_info {
    /* margin: 0 auto;  */
    
    text-align: left;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .project_info p {
    line-height: 50px; text-align: left;
    font-size: 1.4rem; font-weight: 500;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 40px;
    margin-bottom: 20px;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .using_img {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 40px;
}
#wrap .project_landing2 .landing2_wrap .landing2_text2 .using_img img {
    margin-right: 20px;
}
#wrap .project_landing2 .landing2_wrap .preview {
    text-align: center;
    width: 50%; margin-top: 150px;
}
#wrap .project_landing2 .landing2_wrap .preview img {
    width: 100%;
    border-radius: 30px;
}
#wrap .project_landing2 .domain {
    
    position: absolute;
    left: 2%; bottom:15%;
}
#wrap .project_landing2 .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .project_landing2 .domain a:hover {
    color: #000;
    transition: all 0.5s;
}


/* project_design_detail */
#wrap .project_design_detail {
    
    height:90vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 30px 0 30px 0;
    position: relative;
    overflow-y: auto;
}
#wrap .project_design_detail h1 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
}
#wrap .project_design_detail h2 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
    margin-top: 20px;
}
#wrap .project_design_detail .detail_contents {
    display: flex; flex-flow: row nowrap;
    width: calc(100% - 450px);
    
    margin: 0 auto;
    padding-top: 30px;
    z-index: 100;
    position: relative;
}
#wrap .project_design_detail .detail_contents li {
    margin: 0 auto;
    margin-right: 35px;
    overflow: hidden;
    
}

#wrap .project_design_detail .detail_contents li:last-child {
    margin-right: 0;
}
#wrap .project_design_detail .detail_contents li .detail1 {
    width: 20%;
    
}
#wrap .project_design_detail .detail_contents li .detail2 {width: 20%;}
#wrap .project_design_detail .detail_contents li .detail3 {width: 20%;}
#wrap .project_design_detail .detail_contents li .detail4 {width: 20%;}
#wrap .project_design_detail .detail_contents li .detail1:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_detail .detail_contents li .detail1 img {
    height: 100%; width: 100%;
    border-radius: 20px;
    transition: all 0.5s;
    filter: grayscale(100%)
}
#wrap .project_design_detail .detail_contents li .detail2:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_detail .detail_contents li .detail2 img {
    height: 100%; width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_detail .detail_contents li .detail3:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_detail .detail_contents li .detail3 img {
    height: 100%; width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_detail .detail_contents li .detail4:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_detail .detail_contents li .detail4 img {
    height: 100%; width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}

#wrap .project_design_detail .popup_contents {}
#wrap .project_design_detail .popup_contents li {
    
    width: 100%; text-align: center;
    margin: 0 auto;
    
}
#wrap .project_design_detail .popup_contents li .contents1 {
    position: absolute;
    left:25%; top:15%;
    z-index: 300;
    background-color:rgba(226, 238, 254, 0.6);
    width: 50%; height:75vh;
    margin: 0 auto;
    text-align: center;
    display: none;
    overflow-y: auto;
    
}
#wrap .project_design_detail .popup_contents li .contents1 .popup1 {
    width: 100%; 
    
    
    
}
#wrap .project_design_detail .popup_contents li .close1 {
    width: 35px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:11%; right:25%;
    display:none;
}
#wrap .project_design_detail .popup_contents li .contents2 {
    position: absolute;
    left:25%; top:15%;
    z-index: 300;
    background-color:rgba(226, 238, 254, 0.6);
    width: 50%; height:75vh;
    margin: 0 auto;
    text-align: center;
    display: none;
    overflow-y: auto;
}
#wrap .project_design_detail .popup_contents li .contents2 .popup2 {
    width: 100%;
    
}
#wrap .project_design_detail .popup_contents li .close2 {
    width: 35px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:11%; right:25%;
    display:none;
    
}
#wrap .project_design_detail .popup_contents li .contents3 {
    position: absolute;
    left:25%; top:15%;
    z-index: 300;
    background-color:rgba(226, 238, 254, 0.6);
    width: 50%; height:75vh;
    margin: 0 auto;
    text-align: center;
    display: none;
    overflow-y: auto;
}
#wrap .project_design_detail .popup_contents li .contents3 .popup3 {
    width: 100%;
    
}
#wrap .project_design_detail .popup_contents li .close3 {
    width: 35px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:11%; right:25%;
    display:none;
    
}
#wrap .project_design_detail .popup_contents li .contents4 {
    position: absolute;
    left:25%; top:15%;
    z-index: 300;
    background-color:rgba(226, 238, 254, 0.6);
    width: 50%; height:75vh;
    margin: 0 auto;
    text-align: center;
    display: none;
    overflow-y: auto;
}
#wrap .project_design_detail .popup_contents li .contents4 .popup4 {
    width: 100%;
    
}
#wrap .project_design_detail .popup_contents li .close4 {
    width: 35px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top:11%; right:25%;
    display:none;
    
}

#wrap .project_design_detail .domain {
    margin: 20px 0 0 50px;
    
}
#wrap .project_design_detail .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .project_design_detail .domain a:hover {
    color: #000;
    transition: all 0.5s;
}

/* project_design_sns */
#wrap .project_design_sns {
    height:90vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 30px 0 20px 0;
    position: relative;
    
}
#wrap .project_design_sns h1 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
}
#wrap .project_design_sns h2 {
    font-size: 2.5rem; text-align: center;
    letter-spacing: -0.02em; font-weight: 700;
    margin-top: 10px;
}
#wrap .project_design_sns .sns_contents {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    padding-top: 30px;
    z-index: 100;
}
#wrap .project_design_sns .sns_contents li {
    margin-right: 0px;
    overflow: hidden;
    width: 300px; height:300px;
    margin-bottom: 20px;
}
#wrap .project_design_sns .sns_contents li:nth-of-type(4),#wrap #project_design_sns .sns_contents li:nth-of-type(8) {
    margin-right: 0;
}
#wrap .project_design_sns .sns_contents li .sns1:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}

#wrap .project_design_sns .sns_contents li .sns1 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns2:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns2 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns3:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns3 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns4:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns4 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns5:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns5 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns6:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns6 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns7:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns7 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_contents li .sns8:hover img {
    transform: scale(1.02);
    transition: all 0.5s;
    filter: grayscale(0%)
}
#wrap .project_design_sns .sns_contents li .sns8 img {
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    filter: grayscale(100%)
}
#wrap .project_design_sns .sns_popup {}
#wrap .project_design_sns .sns_popup li {
    width: 100%; text-align: center;
    margin: 0 auto;
}
#wrap .project_design_sns .sns_popup li .sns_popup1 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup1 img {
    width: 45%;
    margin-top: 50px;
}

#wrap .project_design_sns .sns_popup li .sns_popup1 .sns_close1 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup2 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup2 img {
    width: 44%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup2 .sns_close2 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup3 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup3 img {
    width: 45%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup3 .sns_close3 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup4 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup4 img {
    width: 44%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup4 .sns_close4 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup5 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup5 img {
    width: 44%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup5 .sns_close5 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup6 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup6 img {
    width: 44%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup6 .sns_close6 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup7 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup7 img {
    width: 44%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup7 .sns_close7 {
    width: 35px;
    cursor: pointer;
}
#wrap .project_design_sns .sns_popup li .sns_popup8 {
    position: absolute;
    left:0%; top:0%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; height: 100vh;
    display: none;
}
#wrap .project_design_sns .sns_popup li .sns_popup8 img {
    width: 44%;
    margin-top: 50px;
}
#wrap .project_design_sns .sns_popup li .sns_popup8 .sns_close8 {
    width: 35px;
    cursor: pointer;
}

#wrap .project_design_sns .domain {
    margin: 10px 0 0 30px;
}
#wrap .project_design_sns .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .project_design_sns .domain a:hover {
    color: #000;
    transition: all 0.5s;
}

/* ending */
#wrap .ending {
    height:70vh;
    background: url(../images/bl2.jpg)no-repeat center;
    background-size: cover;
    padding: 10px 0 10px 0;
    position: relative;
}
#wrap .ending h2 {
    text-align: right;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    right:5%; top:13%;
}
#wrap .ending h1 {
    margin: 150px 0 0 100px;
    font-size: 6.25rem;
}
#wrap .ending em {
    text-align: right;
    margin-right: 500px; margin-top: 30px;
    font-size: 6.25rem;
    display: block;
}
#wrap .ending .thank {
    display: block;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 150px; margin-bottom: 150px;
}
#wrap .ending .bottom {
    width: calc(100% - 100px);
    margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}
#wrap .ending .bottom .domain {}
#wrap .ending .bottom .domain a {
    font-size: 1.5rem; font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#wrap .ending .bottom .domain a:hover {
    color: #000;
    transition: all 0.5s;
}
#wrap .ending .bottom > span {
    font-size: 1.5rem;
}